*{
    margin: 0;
    padding: 0;
}


nav li{list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 10px 20px 10px 20px ;

   
}
nav{
    display: flex;
    justify-content: space-between;
    background: #ffffff;

}
nav a{
    font-family:"Open Sans",sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: black;

}
.logo{
    margin-top: 20px;
    margin-left: 20px;
}
.sec-1{
    width: 100%;
    height: 630px;
    background: #f3bd1c;
    display: flex;
    justify-content: center;
 

 
}

.text{
    width: 426px;
    padding: 30px;
    align-items: start;
}
.text h2{
   font-size: 44px;
    font-family:"Open Sans",sans-serif;
    padding: 10px;
    font-weight:700;
}
.text h6{font-size: 18px;
    font-family:"Open Sans",sans-serif;
   
    font-weight: lighter;
    line-height: 2;
}

.guy-1{
    display: flex;
    justify-content: start;
}

